@using Liments.MVC.Models
@model ProfileViewModel

@{
    ViewData["Title"] = "Profile";
}

    <div class="container">

        <div id="ProfileData">
            @{ await Html.RenderPartialAsync("_ProfileData", Model.Profile); }
        </div>

        <div class="mt-5 col-xl-10 col-lg-10 col-md-10 col-sm-12 col-12 mx-auto">
            <div id="Posts">
                @{ await Html.RenderPartialAsync("_Posts", Model.Posts); }
            </div>
        </div>
    </div>


