.txt1 {
    font-family: OpenSans-Regular;
    font-size: 15px;
    line-height: 1.4;
    color: #999999;
}

.txt2 {
    font-family: OpenSans-Regular;
    font-size: 15px;
    line-height: 1.4;
    color: #4272d7;
}